extends layout

block content
  h1= title
  p #{title}
  
  button(type='button', class='btn btn-secondary', onClick='update()') Press Me

  div(id='target') Display
  br
  a(href="forecast") Forecast Results
  script.
    let client_count = 0;

    function update(){
      client_count += 1;
      document.getElementById("target").innerHTML = client_count;
    }
